*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a5988c;
}
.container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #6f5741;
    padding: 40px 60px;
}
h1{
    font-size: 3em;
    color:#fff;
}
.reset{
    padding: 15px 20px;
    color: #a1866f;
    background: #fff;
    border: none;

}
.game{
    width: 900px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #a1866f;
    /* transition: 0.25s;
    transform: rotateY(0deg); */
    backface-visibility: hidden;
}
.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
    transition: transform 0.25s;
}
.timer{
    color: #fff;
}
.score{
    color: #fff;
}
